{% extends 'base.html' %}
{% block content %}
<h1>New Category</h1>


<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('new_category') }}">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" name="name" type="text" class="validate" placeholder="Name">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" name="description" class="materialize-textarea" placeholder="Description"></textarea>
                </div>
            </div>
            <button type="submit" class="btn">Create</button>
            <a href="{{ url_for('categories') }}" class="btn">Disscard</a>
        </div>
    </form>
</div>

{% endblock %}