{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s2 m2 l2">

        <div class="collection">
            <a class="collection-item" href="{{ url_for('categories') }}">All</a>
            {% for cat in categories %}
            <a class="collection-item" href="{{ url_for('categories', category_id=cat.id) }}">{{ cat.name }}</a>
            {% endfor %}
        </div>

    </div>
    <div class="col s10 m10 l10">
        <div class="row">

            {% for sport in sports %}
            <div class="col ss6 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-light"
                         onclick="window.location.replace('/category/{{sport.category_id}}/sport/{{sport.id}}')">
                        <img src="{{ url_for('static', filename='img/foot.jpg') }}">
                        <span class="card-title">{{ sport.name }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
<!-- Floating Action Button -->
<div class="fixed-action-btn vertical" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a href="{{ url_for('new_category') }}" class="btn-floating tooltipped red" data-position="left"
               data-delay="50" data-tooltip="New Category"><i
                class="material-icons">view_list</i></a></li>
        <li><a href="{{ url_for('new_sport') }}" class="btn-floating tooltipped bleu darken-1" data-position="left"
               data-delay="50"
               data-tooltip="New Sport"><img id="football-new-icon"
                                             src="{{ url_for('static', filename='img/football.png') }}"
                                             height="30"></a></li>
    </ul>
</div>

{% endblock %}

