{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s2 m2 l2">
        <h5>Categories</h5>

        <ul>
            <li><a href="{{ url_for('categories') }}">All</a></li>
            {% for cat in categories %}
            <li><a href="{{ url_for('categories', category_id=cat.id) }}">{{ cat.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col s10 m10 l10">
        <ul>
            {% for sport in sports %}
            <li><a href="{{ url_for('show_sport', category_id=sport.category_id, sport_id=sport.id) }}">{{ sport.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="fixed-action-btn vertical" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a href="{{ url_for('new_category') }}" class="btn-floating tooltipped red" data-position="left"
               data-delay="50" data-tooltip="New Category"><i
                class="material-icons">view_list</i></a></li>
        <li><a href="{{ url_for('new_sport') }}" class="btn-floating tooltipped bleu darken-1" data-position="left"
               data-delay="50"
               data-tooltip="New Sport"><img id="football-new-icon"
                                             src="{{ url_for('static', filename='img/football.png') }}"
                                             height="30"></a></li>
    </ul>
</div>

{% endblock %}

